@import "tailwindcss";
@import "@nuxt/ui";

body {
  font-family: "Nata Sans", sans-serif;
}

.login-background {
  background-image: url("~/assets/images/bg-login.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
