@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-red: #E4312B;
  --color-green: #149954;

  --ui-primary: var(--color-green);
  --ui-error: var(--color-red);

}

body {
  font-family: "Nata Sans", sans-serif;
}

.login-background {
  background-image: url("~/assets/images/bg-login.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
